/home/yasper-shadowmoses/Documentos/5 Cycle/IIC Computer Science; Data Analysis & IT/HTML, CSS y Javascript /Module 2 Coding Assingnment/view_desktop.png
/home/yasper-shadowmoses/Documentos/5 Cycle/IIC Computer Science; Data Analysis & IT/HTML, CSS y Javascript /Module 2 Coding Assingnment/view_smarthphone.png
/home/yasper-shadowmoses/Documentos/5 Cycle/IIC Computer Science; Data Analysis & IT/HTML, CSS y Javascript /Module 2 Coding Assingnment/viewTablet.png