 /*Verison de la web en el Escritorio*/
 @media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/*Version de la web en una Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Version de la web en una teléfono celular*/
@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}
    
    
    * {
        box-sizing: border-box;
    }

    body {
        background-color: white;
    }

    h1 {
       margin-bottom: 15px;
    text-align: center;
    color: #3287ff;
    font-size: 50px;
    }

    section {
        position: relative;
        padding: 15px;
        width: 90%;
    }

    p {
        position: relative;
        clear: right;
    }

    div {
        position: relative;
        background-color: gray;
        border: 3.5px solid black;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }

/*Diseño de las presentación de los apartados Chicken, Beef y Sushi*/
    .presentation1 {
        float: right;
        width: 100px;
        padding: 5px;
        margin: -3px -3px 0px;
        border: 3.5px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: #dbdb10;

    }

    .presentation2 {
        float: right;
        color: white;
        width: 100px;
        padding: 5px;
        margin: -3px -3px 0px;
        border: 3.5px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: #ffbf00;

    }

    .presentation3 {
        color: black;
        float: right;
        width: 100px;
        padding: 5px;
         margin: -3px -3px 0px;
        border: 3.5px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: rgb(121, 223, 133);

    }

    .content {
        padding: 5px;
        border: none;
        background-color: #F5F5DC;
        font-family: Helvetica;
        color: black;
        margin: 3px ;
        height: 150px;
        overflow: auto;
    }

    .row {
        width: 90%;
    }

   